body {
  background-color: #222;
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 22px;

  color: #fafafa;
}

h1 {
  font-family: 'Vollkorn';
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 36px;
  color: #fafafa;
  font-style: italic;
}

a {
  color: #fafafa;
}

h2 {
  font-family: 'Vollkorn';
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;

  color: #fafafa;
}

p {
  margin-bottom: 8px;
  color: #fafafa;
  text-align: left;
}

.accordion {
  color: #fafafa;
}

.accordion_body {
  max-width: 320px;
  margin-top: 32px;
}

.accordion .accordion_container {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and
bottom and increases font size. Also makes its cursor a pointer */

.accordion .accordion_label {
  position: relative;
  padding: 10px 0;
  color: #fafafa;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .accordion_label::before {
  content: '+';
  color: #fafafa;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content_short {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion .content_long {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

/* Adds a horizontal line between the contents */

.accordion hr {
  margin-left: 0;
  border: 1px solid #fafafa;
}

/* Unhides the content part when active. Sets the height */

.accordion .accordion_container.active .content_short {
  height: 420px;
  padding-bottom: 16px;
}

.accordion .accordion_container.active .content_long {
  height: 540px;
  padding-bottom: 16px;
}

/* Changes from plus sign to negative sign once active */

.accordion .accordion_container.active .accordion_label::before {
  content: '-';
}

.canvas {
  width: 100%;
  margin-top: 128px;
  margin-bottom: 128px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-lvl2 {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  margin-bottom: 32px;
}

.container-lvl3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
